/* Margins on top left and right are not the same*/
body {
    margin: auto;
}

.zone {
    /*padding: 30px 50px; 
    margin:40px 60px;*/
    cursor:pointer;
    background-color: rgb(87, 52, 87);
    /*display:inline-block;*/
    color:#FFF;
    font-size:2em;
    border-radius: 4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/* NAVAGATION BAR*/

nav {
    background-color: rgb(87, 52, 87);
}

    .sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}

@media only screen and (max-width:600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}


.push {
    margin-right: auto;
}

li {
    padding:20px
}

li > a {
    color: #f5f5f6;
    text-decoration: none;
}

.underline:hover {
    text-decoration: underline;
}


/* About Me section */
.aboutMe {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 65vh; /* viewport height */
    background-color: gray;
    
}
/*my Projects*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: gray;
    padding: 10px;
    height: 50vh;
  }
  
  .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container > div > a {
    color: gray;
  }
  .item2 {
      grid-column: 2;
      grid-row: 1 / span 2;
  }
  
  /* This no longer is set up correctly now that I chaged placement of item 2
  
  @media only screen and (max-width: 500px) {
    .item1 { grid-area: 1 / span 3 / 2 / 4; }
    .item2 { grid-area: 3 / 3 / 4 / 4; }
    .item3 { grid-area: 2 / 1 / 3 / 2; }
    .item4 { grid-area: 2 / 2 / span 2 / 3; }
    .item5 { grid-area: 3 / 1 / 4 / 2; }
  } */