/* Margins on top left and right are not the same*/
body {
    margin: auto;
    min-width: 450px;
}

.zone {
    /*padding: 30px 50px; 
    margin:40px 60px;*/
    cursor:pointer;
    background-color: rgb(87, 52, 87);
    /*display:inline-block;*/
    color:#FFF;
    font-size:2em;
    border-radius: 4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
    /* padding: 0; */
}

.zone:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/* NAVAGATION BAR*/

nav {
    background-color: rgb(87, 52, 87);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}

.push {
    margin-right: auto;
}

li {
    padding:20px
}

li > a {
    color: #f5f5f6;
    text-decoration: none;
}

.underline:hover {
    text-decoration: underline;
}


/* About Me section */
.aboutMe {
    display:flex;
    flex: wrap;
    flex-direction: column;
    /* min-width: 460px; */
    align-items: center;
    justify-content: center;
    height: 100vh; /* viewport height */
    background-color: gray;
}   
.aboutMe > p {
    padding: 20px;
}
.center {
    text-align: center;
}

@keyframes l-ease {
    from {left: -1400px; top: -30px;}
    to {left: 3px; top: 5px}
}

.aboutMe > .l-ease {
    width: fit-content;
    height: fit-content;
    background-color: rgb(87, 52, 87);
    font-weight: bold;
    position: relative;
    animation-name: l-ease;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes r-ease {
    from {right: -1400px;}
    to {right: 0px;}
}
.aboutMe > .r-ease {
    width: fit-content;
    height: fit-content;
    background-color: rgb(87, 52, 87);
    font-weight: bold;
    position: relative;
    animation-name: r-ease;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}

/*my Projects*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: auto;
    /* max-width: 1200px; */
    grid-gap: 10px;
    background-color: gray;
    padding: 10px;
    height: 75vh;
}

.grid-container > div {
    display: flex;
    align-items: center;
    max-width: auto;
    background-color: white;
    /* text-align: center; */
    padding: 20px 0;
    font-size: 30px;
    box-shadow: rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    background-image: url("./coming-soon.png"); 
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

.grid-container > div > a {
    margin-left: 10px;
    color: white;

}

/* .bounce { */
    /* align-self: flex-end; */
    /* width: 100px; */
    /* height: 100px; */
    /* background: #FFB6C1; */
    /* animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
} */
.bounce:hover {
        animation-name: bounce;
        animation-timing-function: ease;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
    }
    @keyframes bounce {
      0%   { transform: translateY(0); }
      50%  { transform: translateY(-10px); }
      100% { transform: translateY(0); }
}

/* .item1 img{
    width: 200px;
    height: 400px;
    /* height: 210px; */
    /* background: url("./Assets/coming-soon.png.png"); */
    /* background-size: cover; */
    /* object-fit: cover;
} */ 


.item2 {
    grid-column: 2;
    grid-row: 1 / span 2;
}

/* Contact Section */
.contact {
    display:flex;
    flex: wrap;
    height: 40vh;
    /* min-width: 460px; */
    
}
/* Nav bar media query */
@media screen and (max-width:600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

@media screen and (max-width:470px) {
    .main-nav {
        font-size: 0.45em;
        padding: 0;
    }
}
/* grid display media query */
@media screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        height: 90vh;}
        .item2 {
            grid-column: 1 / span 1;
            
        }
    }
    
    /* This no longer is set up correctly now that I chaged placement of item 2*/
    /* @media only screen and (max-width: 500px) {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
    
    /* @media only screen and (max-width: 500px) {
        .item2 { grid-column: 1 / span 4; grid-row: 1;}
        .item1 { grid-column: 2; grid-row: 2 / 1fr;}
        .item3 { grid-column: 2; grid-row: 3 / 1fr;}
    .item4 { grid-column: 3; grid-row: 2 / 1fr;}
    .item5 { grid-column: 3; grid-row: 3 / 1fr;}
  } */